$common-node-bg: #f4f6fc;
$common-node-bg-hover: #f4f6fcb0;
$common-node-active: #409eff;

#flowContainer {
    .common-circle-node {
        position: absolute;
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        border: 1px solid #777;
        border-radius: 50%;
        background-color: $common-node-bg;
        white-space: nowrap;

        &:hover {
            background-color: $common-node-bg-hover;
            z-index: 2;
        }

        &.active {
            outline: 2px dashed $common-node-active;
            outline-offset: 0px;
        }
    }

    .common-rectangle-node {
        position: absolute;
        height: 50px;
        width: 120px;
        line-height: 50px;
        text-align: center;
        border: 1px solid #777;
        border-radius: 2px;
        background-color: $common-node-bg;
        white-space: nowrap;

        &:hover {
            background-color: $common-node-bg-hover;
            z-index: 2;
        }

        &.active {
            outline: 2px dashed $common-node-active;
            outline-offset: 0px;
        }
    }

    .common-diamond-node {
        position: absolute;
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        border: 1px solid #777;
        border-radius: 2px;
        background-color: $common-node-bg;
        transform: rotate(45deg);
        white-space: nowrap;

        &:before {
            position: absolute;
            content: "网关";
            transform: rotate(-45deg);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &:hover {
            background-color: $common-node-bg-hover;
            z-index: 2;
        }

        &.active {
            outline: 2px dashed $common-node-active;
            outline-offset: 0px;
        }
    }

    .common-x-lane-node {
        position: absolute;
        text-align: center;
        border: 1px solid #777;
        border-radius: 2px;
        z-index: -1;

        &.active {
            outline: 2px dashed $common-node-active;
            outline-offset: 0px;
        }

        .lane-text-div {
            width: 18px;
            height: 100%;
            position: absolute;
            display: table;
            border-right: 1px solid #777;
            background-color: $common-node-bg;

            &:hover {
                z-index: 2;
            }

            .lane-text {
                word-wrap: break-word;
                display: table-cell;
                vertical-align: middle;
                font-size: 0.8em;
            }
        }
    }

    .common-y-lane-node {
        position: absolute;
        text-align: center;
        border: 1px solid #777;
        border-radius: 2px;
        z-index: -1;

        &.active {
            outline: 2px dashed $common-node-active;
            outline-offset: 0px;
        }

        .lane-text-div {
            width: 100%;
            height: 18px;
            position: absolute;
            display: table;
            border-bottom: 1px solid #777;
            background-color: $common-node-bg;

            &:hover {
                z-index: 2;
            }

            .lane-text {
                word-wrap: break-word;
                display: table-cell;
                font-size: 0.8em;
            }
        }
    }

    .common-processor-node {
        position: absolute;
        text-align: center;
        border: 1px solid #777;
        background-color: $common-node-bg;
        white-space: nowrap;
        border-radius: 2px;
        font-size: 12px;
        p {
            margin: 0;
            text-align: left;
        }

        &:hover {
            background-color: $common-node-bg-hover;
            z-index: 2;
        }

        &.active {
            outline: 2px dashed $common-node-active;
            outline-offset: 0px;
        }
    }

    .common-in-node,
    .common-out-node {
        position: absolute;
        text-align: center;
        border: 1px solid #777;
        background-color: $common-node-bg;
        border-radius: 2px;
        white-space: nowrap;
        font-size: 12px;
        p {
            margin: 0;
            text-align: left;
        }

        &:hover {
            background-color: $common-node-bg-hover;
            z-index: 2;
        }

        &.active {
            outline: 2px dashed $common-node-active;
            outline-offset: 0px;
        }
    }

    .warp {
        list-style: none;
        margin: 0;
        padding: 5px 0;

        li {
            display: flex;
            justify-content: space-between;
            padding: 2px 5px;
            p {
                margin-right: 15px;
                b {
                    display: inline-block;
                    width: 75px;
                }
                span {
                    display: inline-block;
                    color: #775351;
                    width: 120px;
                }
            }
            span {
                color: #728e9b;
            }
        }
    }
    .title {
        border-bottom : 1px solid #aaa;
        display: flex;
        justify-content: space-between;
        padding: 3px 5px;
        p {
            display: flex;
            justify-content: space-between;
            i {
            }
            span {
                margin-left: 20px;
            }
        }
    }

    .node-icon {
        position: absolute;
        top: 7px;
        left: 6px;
    }
}
